<li onclick="%%GLOBAL_TinyImageClickJavascript%%" onmouseover="%%GLOBAL_TinyImageOverJavascript%%" id="TinyImageBox_%%GLOBAL_ProductThumbIndex%%">
    <div class="TinyOuterDiv" style = "height:%%GLOBAL_ProductMaxTinyHeight%%px; width:%%GLOBAL_ProductMaxTinyWidth%%px;" >
        <a href="javascript:void(0);" rel='{"gallery": "prodImage", "smallimage": "%%GLOBAL_ProductThumbImageURL%%", "largeimage": "%%GLOBAL_ProductZoomImageURL%%"}' style="height:%%GLOBAL_ProductMaxTinyHeight%%px; width:%%GLOBAL_ProductMaxTinyWidth%%px">
            <img id="TinyImage_%%GLOBAL_ProductThumbIndex%%" src="%%GLOBAL_ProductTinyImageURL%%" width="%%GLOBAL_ProductMaxTinyWidth%%" height="%%GLOBAL_ProductMaxTinyHeight%%" alt="%%GLOBAL_ImageDescription%%" title="%%GLOBAL_ImageDescription%%" />
        </a>
    </div>
</li>